---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LF | 404">
  <div class="text-white h-full w-full flex justify-center pt-20">
    <h1>
      404 section not found.
      <a class="font-bold text-blue-500" href="/"> Go back to the main page</a>
    </h1>
  </div>
</Layout>
