---

---

<button
  class="w-16 h-16 bg-transparent absolute top-0 right-0 m-5 rounded-full grid items-center text-2xl text-white"
  id="button-close-aside-id"
>
  <span class="text-center">❌</span>
</button>

<script>
  const closeAsideButtonEl = document.querySelector("#button-close-aside-id");
  closeAsideButtonEl.addEventListener("click", () => {
    const asideEl = document.querySelector("aside");
    asideEl.classList.remove("activated");
  });
</script>

<script>
  const buttonAsideEL = document.querySelector("#button-open-aside-id");
  buttonAsideEL.addEventListener("click", () => {
    const asideBoard = document.querySelector("aside");
    asideBoard.classList.add("activated");
  });
</script>
