---
import { GithubIcon } from "../util/icons.jsx";
---

<swiper-container class="mySwiper relative overflow-hidden" navigation="true">
  <swiper-slide>
    <div
      class="flex justify-center items-center rounded-lg p-5 h-full w-max shadow-md shadow-slate-800 bgLastProyectImgContainer relative"
      style={{ backgroundColor: "rgb(16, 16, 16)" }}
    >
      <div
        class="absolute h-full w-full p-5 text-white text-left text-md overflow-y-auto hoverDescription"
      >
        <p>
          Este es mi primer texto de prueba compa Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eius nisi cupiditate blanditiis,
          accusantium laudantium a, dolores accusamus, animi dignissimos eaque
          nihil ducimus! Facere veritatis cum unde itaque quia cumque
          voluptatibus!
        </p>
      </div>
      <img
        src="/x-miniatura-compr.png"
        alt="last project released"
        class="h-full lastProyectImg"
      />
    </div>
    <button
      class="h-max rounded-full absolute bottom-0 m-3 right-0 text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800"
    >
      <a href="#" class="h-full w-full grid items-center">
        <GithubIcon />
      </a>
    </button>
  </swiper-slide>
  <swiper-slide>
    <div
      class="flex justify-center items-center rounded-lg p-5 h-full w-max shadow-md shadow-slate-800 bgLastProyectImgContainer"
      style={{ backgroundColor: "rgb(16, 16, 16)" }}
    >
      <div
        class="absolute h-full w-full p-5 text-white text-left text-md overflow-y-auto hoverDescription"
      >
        <p>
          Este es mi primer texto de prueba compa Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eius nisi cupiditate blanditiis,
          accusantium laudantium a, dolores accusamus, animi dignissimos eaque
          nihil ducimus! Facere veritatis cum unde itaque quia cumque
          voluptatibus!
        </p>
      </div>
      <img
        src="/x-miniatura-compr.png"
        alt="last project released"
        class="h-full lastProyectImg"
      />
    </div>
    <button
      class="h-max rounded-full absolute bottom-0 m-3 right-0 text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800"
    >
      <a href="#" class="h-full w-full grid items-center">
        <GithubIcon />
      </a>
    </button>
  </swiper-slide>
  <swiper-slide>
    <div
      class="flex justify-center items-center rounded-lg p-5 h-full w-max shadow-md shadow-slate-800 bgLastProyectImgContainer"
      style={{ backgroundColor: "rgb(16, 16, 16)" }}
    >
      <div
        class="absolute h-full w-full p-5 text-white text-left text-md overflow-y-auto hoverDescription"
      >
        <p>
          Este es mi primer texto de prueba compa Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eius nisi cupiditate blanditiis,
          accusantium laudantium a, dolores accusamus, animi dignissimos eaque
          nihil ducimus! Facere veritatis cum unde itaque quia cumque
          voluptatibus!
        </p>
      </div>
      <img
        src="/x-miniatura-compr.png"
        alt="last project released"
        class="h-full lastProyectImg"
      />
    </div>
    <button
      class="h-max rounded-full absolute bottom-0 m-3 right-0 text-white bg-slate-700 text-md p-2 hover:scale-90 transition-all hover:shadow-medium hover:shadow-slate-800"
    >
      <a href="#" class="h-full w-full grid items-center">
        <GithubIcon />
      </a>
    </button>
  </swiper-slide>
</swiper-container>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .bgLastProyectImgContainer {
    transition: all 0.2s ease-in-out;
  }

  .lastProyectImg {
    cursor: pointer;
  }

  .bgLastProyectImgContainer:hover {
    scale: 0.95;
  }

  .hoverDescription {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .hoverDescription ::-webkit-scrollbar-thumb {
    background-color: rgb(167, 18, 18);
    border-radius: 10px;
  }

  .hoverDescription::-webkit-scrollbar-track {
    width: 10px;
  }
  .bgLastProyectImgContainer:hover .hoverDescription {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.689);
  }
</style>
