---
interface Props {
  text: string;
  orientation: string;
  arrow: string;
}

import { ArrowDrawIcon } from "../util/icons";
const { text, orientation, arrow } = Astro.props;
---

<div
  class={`box-comments absolute  ${orientation === "right" ? "flex-row-reverse text-right" : "flex text-left"}`}
>
  <div class={`${orientation === "right" ? "rotate-180" : ""}`}>
    {arrow === "false" ? null : <ArrowDrawIcon />}
  </div>
  <p class="w-3/4">{text}</p>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300..700&display=swap");
  .box-comments {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: start;
    width: 12rem;
    height: max-content;
    gap: 0.5rem;
  }
</style>
