---

---

<section class="main-section text-white h-full">
  <div class="container-timelapse">
    <h2 class="text-3xl">Certifications</h2>
    <div class="flex flex-col gap-10 h-max relative mt-5 z-10">
      <div
        class="h-full absolute"
        style={{
          border: "1px solid white",
          marginLeft: "0.45rem",
        }}
      >
      </div>
      <div class="flex w-full gap-5">
        <div
          class="h-4 w-4 rounded-full bg-white"
          style={{ border: "3px solid white" }}
        >
        </div>
        <div class="text-wrap w-full flex flex-col">
          <h3 class="font-bold text-lg">
            Secondary School - "Private Institute Fray Luis Beltrán" | 2015 -
            2021
          </h3>
          <p class="font-light text-md">
            I graduated as a computer technician, with skills in .NET
          </p>
        </div>
      </div>
      <div class="flex w-full gap-5">
        <div
          class="h-4 w-4 rounded-full bg-white"
          style={{ border: "3px solid white" }}
        >
        </div>
        <div class="text-wrap w-full flex flex-col">
          <h3 class="font-bold text-lg">
            Course 'Dare to Program 2023' | 2023 - 2023
          </h3>
          <p class="font-light text-md">
            It was an introductory course to frontend development, where I
            worked on projects using HTML, CSS, and vanilla JavaScript. I
            graduated in 2 months with a final integrated project using
            Bootstrap as an additional technology.
          </p>
        </div>
      </div>
      <div class="flex w-full gap-5">
        <div
          class="h-4 w-4 rounded-full bg-white"
          style={{ border: "3px solid white" }}
        >
        </div>
        <div class="text-wrap w-full flex flex-col">
          <h3 class="font-bold text-lg">
            University - Superior Technician in Programming (FRSN UTN) |
            2022-Present
          </h3>
          <p class="font-light text-md">
            I am currently taking the last subjects of the degree, where along
            this journey I developed applications with C#, learning the
            fundamentals of programming in general with this language. I worked
            with SQL Server to create Windows Forms applications related to
            business management. Additionally, we worked with React for web
            application development with ASP as the backend tool. I am expected
            to graduate by the end of 2024.
          </p>
        </div>
      </div>
      <div>
        <div
          class="h-4 w-4 rounded-full bg-white"
          style={{ border: "3px solid white" }}
        >
        </div>
      </div>
    </div>
  </div>
</section>
