.bgProgressBar{
    animation: loadingProgress .5s both;
    /*CALCULAR SCROLL*/
    view-timeline-name: --progress-tool;
    view-timeline-axis: block;
    animation-timeline: --progress-tool;
    animation-range: entry 20% cover 30%;
}

@keyframes loadingProgress {
    from{
        clip-path: inset(0 100% 0 0);
    }
    to{
        clip-path: inset(0 0 0 0);
    }
}