---
import HabilitiesItems from "./Habilities.jsx";
---

<script></script>

<section class="container-habilities text-white">
  <h2 class="text-3xl">My habilities</h2>
  <div class="w-full flex flex-wrap pt-5 gap-3 justify-center">
    <HabilitiesItems />
  </div>
</section>
