---
import NavbarReact from "./NavbarReact.jsx";
import { CapivaraIcon } from "../util/icons.jsx";
---

<div class="fixed h-24 flex justify-center w-full z-20">
  <nav class="w-full h-full flex px-10 justify-between shadow shadow-slate-200">
    <div class="flex items-center text-3xl capivaraIconContainer">
      <CapivaraIcon />
    </div>
    <ul class="h-full w-3/5 flex items-center justify-around text-white py-5">
      <NavbarReact client:load />
    </ul>
  </nav>
</div>

<style>
  nav {
    background: rgba(0, 0, 0, 0.515);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    animation: top-to-bottom 0.7s ease-in-out;
  }

  @keyframes top-to-bottom {
    0% {
      transform: translateY(-100px);
    }
    33% {
      transform: translateY(10px);
    }
    66% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(10);
    }
  }
  .hoverBoard {
    opacity: 0;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5rem 0 0 0;
  }

  .aside-element {
    transition: all 0.2s ease-in-out;
  }

  .aside-element:hover {
    scale: 1.1;
  }

  .aside-element:hover .hoverBoard {
    display: block;
    opacity: 1;
  }
  @media (max-width: 420px) {
    .capivaraIconContainer {
      display: none;
    }
    nav ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
</style>
