---
import Second from "../../layouts/Second.astro";
import AllProyectsCard from "../../components/react/AllProyectsCard.jsx";
---

<Second>
  <div
    class="overflow-y-auto lg:pt-10 md:pt-8 sm:pt-5 pt-5 flex flex-wrap gap-4 justify-center"
  >
    <AllProyectsCard client:only />
  </div>
</Second>

<style>
  div {
    height: 93%;
  }
</style>
