---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";
import ButtonOpenAside from "../components/ButtonOpenAside.jsx";
import Aside from "../components/Aside.astro";
import { DownrowIcon } from "../util/icons.jsx";
import CommentBox from "../components/CommentBox.astro";
---

<Layout title="LF | Portfolio">
  <Navbar />
  <header
    class="w-full flex flex-col justify-center items-center text-white gap-7 relative"
  >
    <h1 class="text-6xl text-center">Welcome to my portfolio!</h1>
    <p class="text-3xl">Scroll for see more</p>
    <div
      class="downRowIcon absolute left-50 -translate-x-50 bottom-0 m-12 text-2xl"
      id="section_knowme"
    >
      <DownrowIcon />
    </div>
    <div
      class="absolute bottom-0 left-0 m-32 mb-28 containerCommentBox"
      style={{ transform: "rotate(-30deg)" }}
    >
      <CommentBox
        text="Thank you for reviewing my work!🤗"
        orientation=""
        arrow="false"
      />
    </div>
  </header>
  <main
    class="rounded-2xl p-10 mt-24 h-max flex flex-col gap-10"
    transition:name="mainContainer"
  >
    <slot />
  </main>
  <Aside />
  <ButtonOpenAside client:load/>
  <style>
    main {
      width: 55%;
      background-color: rgba(75, 75, 75, 0.063);
      border: 1px solid rgb(190, 190, 190);
      margin: 0 0 3rem 0;
    }
    .downRowIcon {
      animation: infinite bungle 1s 2s;
    }

    header{
      height: 90vh;
    }

    header > h1, p{
      animation: opacity 1s ease-in;
    }

    @keyframes opacity {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }

    @keyframes bungle {
      0% {
        transform: translateY(0px);
      }
      25% {
        transform: translateY(10px);
      }
      50% {
        transform: translateY(5px);
      }
      75% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
    @media (max-width: 880px) {
      main {
        width: 85%;
      }
    }
    @media (max-width: 330px) {
      header h1 {
        font-size: 2rem;
      }
      header p {
        font-size: 1.25rem;
      }
      header .containerCommentBox {
        margin: 0 0 4rem 2rem;
      }
    }
  </style>
</Layout>
